<h3>Register Page</h3>

<div class="container">
  <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit()">
    <div class="login-form">

      <div class="form-group">
        <label><span class="fa fa-user fa-lg"></span> First Name</label>
        <input type="text" formControlName="firstName" id="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">firstName is required</div>
          <div *ngIf="f.firstName.errors.minlength">firstName must be at least 3 characters</div>
          <div *ngIf="f.firstName.errors.maxlength">firstName must be at most 30 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label><span class="fa fa-user fa-lg"></span> Last Name</label>
        <input type="text" formControlName="lastName" id="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">firstName is required</div>
          <div *ngIf="f.lastName.errors.minlength">firstName must be at least 3 characters</div>
          <div *ngIf="f.lastName.errors.maxlength">firstName must be at most 30 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label><span class="fa fa-envelope fa-lg"></span> User Id</label>
        <input type="text" formControlName="userId" class="form-control" id="userId"
          [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" />
        <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
          <div *ngIf="f.userId.errors.required">userId is required</div>
        </div>
      </div>


      <div class="form-group">
        <label><span class="fa fa-lock fa-lg"></span> Password</label>
        <input type="password" formControlName="password" id="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" id="register-user">Register</button>
      </div>
    </div>
  </form>
  <h6 id="loginbtn">Existing member? <a routerLink="/login">Login </a>
    here!</h6>
</div>
<div class="err" id="err">
  {{error1}}
</div>
