<div class="container justify-content-center">
  <div class="row">
    <div class="container-fluid col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <form [formGroup]="formdata" (ngSubmit)="searchPoems()">
        <div class="input-group">
          <input type="search" id="searchForm" class="form-control" formControlName="search"
            placeholder="Search Poems by Title..." />
          <div class="input-group-append">
            <button type="search" class="btn btn-block btn-info" id="searchbtn"><span class="fa fa-search"></span>&nbsp;Search</button>
          </div>
        </div>
      </form>
      <br>


      <div *ngIf="searchp"><a id="a-color" (click)="ngOnInit()"><strong><i class="fa fa-hand-o-left"></i> Go
        back</strong></a>
    <br>
    <br>
  </div>


      <div class="row" *ngIf="homepage">
        <div id="cardpoem" class="card col-lg-6 col-md-6 col-sm-6 col-xs-12 rad shadow-md hoverable view overlay zoom p-3"
          *ngFor="let s of sonnets">
          <div class="card-body card-body-cascade text-center">
            <h4 class="card-title"><strong>{{s.title}}</strong></h4>
            <h5 class="blue-text pb-2">{{s.author}}</h5>
            <p class="card-text">
              {{s.lines[0]}}<br>{{s.lines[1]}}<br>{{s.lines[2]}}<br>{{s.lines[3]}}
            </p>
          </div>
          <div class="card-footer">
            <a id="a-color" data-toggle="modal" data-target="#exampleModal" (click)="show(s)">
              <strong>...Read Full Poem <i class="fa fa-eye"></i></strong>
            </a>
            <a id="a-hearticon" class="addfab" data-toggle="modal" data-target="#ModalMessage" (click)="addToFavourite(s)"><strong><i
                  class="fa fa-heart"></i></strong></a>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{poemTitle}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" *ngFor="let line of poemlines">
                  <p class="card-text">
                    {{line}}
                  </p>
                </div>
                <div class="modal-footer">
                  <a (click)="addToFavourite(poem)" id="a-color" data-toggle="modal" data-target="#ModalMessage"><strong><i class="fa fa-heart"></i>Add to
                      Favorite</strong></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal For Message -->
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button> -->

          <div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <strong>Message</strong>
                  <button id="closemessage" type="button" class="close" data-dismiss="modal">×</button></div>
                <div class="modal-body">
                  {{error}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





   


      <!-- Titles of Poems -->
      <div class="row" *ngIf="searchp">
        <div  class="card col-lg-6 col-md-6 col-sm-6 col-xs-12 rad shadow-md hoverable view overlay zoom p-3"
          *ngFor="let s of poemTitleList">
          <div class="card-body card-body-cascade text-center">
            <h4 class="card-title"><strong>{{s.title}}</strong></h4>
          </div>
          <div class="card-footer">
            <a id="a-color" data-toggle="modal" data-target="#exampleModal2" (click)="show2(s.title)">
              <strong>...Read Full Poem <i class="fa fa-eye"></i></strong>
            </a>
          </div>

     


          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{poemTitle}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" *ngFor="let line of poemlines">
                  <p class="card-text">
                    {{line}}
                  </p>
                </div>
                <div class="modal-footer">
                  <a id="a-color"  data-toggle="modal" data-target="#ModalMessage" (click)="addToFavourite(poem)"><strong><i class="fa fa-heart"></i>Add to
                      Favorite</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <strong>Message</strong>
              <button type="button" class="close" data-dismiss="modal">×</button>                </div>
            <div class="modal-body">
              {{error}}
            </div>
          </div>
        </div>
      </div>
       
      </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#publisher"
        aria-expanded="false">
        <!-- aria-controls="publisher"> id="publisher"-->
        Poets
      </button>
      <button class="btn btn-block btn-outline-info" *ngFor="let p of poets" (click)="getTitles(p)"><a>{{p}}</a>
      </button>
    </div>
  </div>
</div>
<br><br>